<!--index.ejs-->
<table class="table">
        <tr><td><%= person.name %></td><td><%= person.age %></td><td><%= person.birthDate.getDate() %>/<%= person.birthDate.getMonth() +1 %>/<%= person.birthDate.getFullYear() %></td></tr>
        
</table>
<button type="button" class="btn btn-danger" onclick="deletePerson('<%= person.id %>')">Delete</button>
<div id="deleteResult"></div>

<!-- <form action="/person/update/<%= person.id %>" method="GET">
<button type="submit" class="btn btn-primary">Update</button>
</form> -->
<script>

        async function deletePerson(id) {
    
            var dr = document.getElementById("deleteResult");
    
            var r = confirm("Confirm Delete?");
            if (r == true) {
    
                var response = await fetch("/person/" + id, {
                    method: "DELETE",
                    credentials: 'same-origin',
                });
    
                console.log(response);
                
                if (response.status == 200) {
                    var data = await response.json();
                    dr.innerHTML = data;
                //     location.reload(true); 
                } else {
                    dr.innerHTML = response.statusText;
                }
    
            } else {
                dr.innerHTML = "cancelled";
            }
    
        };
    
    </script>